<nav class="navbar navbar-light bg-natural-95">
  <div class="container border-top">
    <div class="navbar-collapse py-5 py-md-6 d-flex flex-column flex-lg-row" id="navbarText">
      <ul class="navbar-nav flex-row justify-content-center flex-wrap flex-md-nowrap me-lg-auto">
        <li class="nav-item mb-2 mb-md-0">
          <a class="nav-link py-2 px-4 px-md-5 bg-natural-95" href="#">服務方案</a>
        </li>
        <li class="nav-item mb-2 mb-md-0">
          <a class="nav-link py-2 px-4 px-md-5 bg-natural-95" href="#">關於職旅</a>
        </li>
        <li class="nav-item mb-2 mb-md-0">
          <a class="nav-link py-2 px-4 px-md-5 bg-natural-95" href="#">聯絡我們</a>
        </li>
        <li class="nav-break d-md-none"></li>
        <li class="nav-item mb-2 mb-md-0">
          <a class="nav-link py-2 px-4 px-md-5 bg-natural-95" href="../pages/privacy.html">隱私權政策</a>
        </li>
        <li class="nav-item mb-2 mb-md-0">
          <a class="nav-link py-2 px-4 px-md-5 bg-natural-95" href="../pages/agreement.html">用戶條款</a>
        </li>
      </ul>
      <div class="navbar-text fz-14 text-natural-50 text-center">
        Copyright © 2025 職旅 workway. All rights reserved.
      </div>
    </div>
  </div>
</nav>