<nav class="navbar navbar-expand-lg navbar-light border-bottom py-3">
  <div class="container">
    <a class="navbar-brand me-auto" href="../pages/index.html">
        <img src="/assets/images/logo.svg" alt="logo" class="me-md-auto">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item me-3">
          <a class="nav-link py-2" href="#">服務方案</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link py-2" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2" href="#">聯絡我們</a>
        </li>
      </ul>
    </div>
    <a href="user.html" class="me-3 d-flex align-items-center">
        <img src="/assets/images/avatar.png" alt="avatar" class="user-image rounded-circle me-2 border">
        <span>Mokumaru</span>
    </a>
    <button class="navbar-toggler border-white" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

