
.side-width{
    width: 300px;
}

.avatar-image{
    width: 120px;
    height: 120px;
}
.mw-480{
    max-width: 480px;
}


.form-check-label{
    font-size: 14px;
}

.nav-link{
    background: $white;
    padding: 12px 20px;
}

@media (max-width:1200px) {
    .nav-link, 
    .reserve {
        padding: 12px 12px;
        font-size: 14px;  
        }
    }




