.side-width{
    width: 300px;
}

.avatar-image{
    width: 120px;
    height: 120px;
}
.mw-480{
    max-width: 480px;
}

.nav-link{
    background: $white;
    padding: 12px 20px;
}
.form-check-label{
    font-size: 14px;
}





